
# Arquivos de dados
*.csv
*.xls
*.xlsx

# Ambientes virtuais e caches
.venv/
venv/
__pycache__/
.pytest_cache/

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log
